.admin-container {
  padding: 40px;
  text-align: center;
}

.admin-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.admin-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.admin-btn {
  background: black;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
}

.admin-menu {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.admin-card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  width: 260px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  border: 1px solid #333;
}

.admin-card:hover {
  background: #333;
  transform: translateY(-3px);
}
